# Environment
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/
env/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
